config.json
*.db
*.tmp.db
*.tmp.log
*.tmp.json
nohup.out
sensor/hidden/
sensor/logs/
sensor/data/
!.gitkeep
.env.testing
.env.development
data/**/*.json
heated_enclosure.ino.*
config.h
*.lock
state.json

# code download artifacts
insert-name-here-*/
insert-name-here-*.tar.gz
insert-name-here-cli.sh

# ssh stuff
authorized_keys
id_ed25519_esm_technical_user
id_ed25519_esm_technical_user.pub

# system stuff
wpa_supplicant.conf