HERMES_ENVIRONMENT=production

# PostgreSQL credentials
HERMES_POSTGRESQL_URL=www.example.com
HERMES_POSTGRESQL_PORT=5432
HERMES_POSTGRESQL_USERNAME=username
HERMES_POSTGRESQL_PASSWORD=12345678
HERMES_POSTGRESQL_DATABASE=database

# MQTT credentials
HERMES_MQTT_URL=www.example.com
HERMES_MQTT_PORT=8883
HERMES_MQTT_IDENTIFIER=username
HERMES_MQTT_PASSWORD=12345678
HERMES_MQTT_BASE_TOPIC=sensors/

HERMES_HARDWARE_LOCKFILE_PATH=./hw-lockfile.lock
HERMES_DEPLOYMENT_ROOT_PATH=/root/deployment/

# Execution mode (production / simulate)
HERMES_MODE=production