services:
  hermes_server:
    image: hermes/server
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    network_mode: "host"
    restart: unless-stopped
    environment:
      WAIT_HOSTS: 127.0.0.1:5432, 127.0.0.1:1883

  postgres_timescale_db:
    image: timescale/timescaledb:latest-pg15
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_USER=${HERMES_POSTGRESQL_USERNAME}
      - POSTGRES_PASSWORD=${HERMES_POSTGRESQL_PASSWORD}
      - POSTGRES_DB=${HERMES_POSTGRESQL_DATABASE}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - "${HERMES_POSTGRESQL_DATA_PATH}:/var/lib/postgresql/data"

  moquitto_mqtt_broker:
    image: hermes/mosquitto_mqtt_self_signed_cert
    build:
      context: docker
      dockerfile: Dockerfile_SelfSigned_Mqtt
    ports:
      - 0.0.0.0:1883:1883
    volumes:
      - "${HERMES_MOSQUITTO_PWFILE}:/etc/mosquitto/mosquitto_password"
      - "${HERMES_MOSQUITTO_DATA_PATH}:/var/lib/mosquitto/"

