config.json
nohup.out
sensor/hidden/
sensor/logs/
sensor/data/
!.gitkeep
.env.testing
data/**/*.json
heated_enclosure.ino.*
config.h
.vscode/

# code download artifacts
insert-name-here-*/
insert-name-here-*.tar.gz
insert-name-here-cli.sh